# Semana 05

Alexia Asunción Pomasonco

Temas:
    1. Estructuras decisivas
    2. Clases y objetos
    3. Funciones

1. Estructuras decisivas

In [1]:
#2.1. Estructuras decisivas (if, elif, else)

In [2]:
#if
#Problema: Dado el precio de 3 productos ingresados por teclado, aplicar un descuento del 10% si la
#venta es mayor o igual a 1000

In [3]:
#Solución
p1 = float(input("Producto 1: "))
p2 = float(input("Producto 1: "))
p3 = float(input("Producto 1: "))
total = p1 + p2 + p3
if total > 1000:
    total *= 0.9
print(f"El total a pagar es: {total}")

Producto 1: 455.9
Producto 1: 4200
Producto 1: 25
El total a pagar es: 4212.8099999999995

In [4]:
#if-else

In [5]:
#Dada una lista de [ASUNCION, AYQUIPA, BARZOLA, CAMAN, CURO, INCA, SAHUMA, TALLEDO, URBISAGATEGUI]
#Diseñar un código que muestre el apellido de un estudiante (Ingresado por teclado) forma parte de la lista

In [6]:
#Solución
LP3 = ["ASUNCION", "AYQUIPA", "BARZOLA", "CAMAN", "CURO", "INCA", "SAHUMA", "TALLEDO", "URBISAGATEGUI"]
apellido = input("Ingresa apellido a buscar: ")

#Como los datos de la lista están en mayúscula, utilizo upper()
if apellido.upper() in LP3:
    print("Sí está en la lista de LP3")
else:
    print("No está en la lista de LP3")

Ingresa apellido a buscar: LEON
No está en la lista de LP3

In [7]:
#Problema 02
#Dado el importe total de ventas realizados por un trabajador (ingresado por teclado),
#categorizar que tipo de empleado es, considerando la siguiente tabla:
#categoria: A -> [0:1000]
#categoria: B -> <1000:2000]
#categoria: C -> <2000:5000]
#categoria: A -> <5000

In [9]:
#Solucion
ventas = float(input("Importe de ventas realizadas: "))
if ventas < 0:
    print("Datos erróneos")
else:
    if ventas <= 1000:
        print("Categoría A")
    else:
        if ventas <= 2000:
            print("Categoría B")
        else:
            if ventas <= 5000:
                print("Categoría C")
            else:
                print("Categoría D")

Importe de ventas realizadas: 6000
Categoría D

In [10]:
#elif

In [11]:
#Problema03: Solucionar el problema anterior utilizando elif
#Dado el importe total de ventas realizados por un trabajador (ingresado por teclado),
#categorizar que tipo de empleado es, considerando la siguiente tabla:
#categoria: A -> [0:1000]
#categoria: B -> <1000:2000]
#categoria: C -> <2000:5000]
#categoria: A -> <5000

In [12]:
#Solución
ventas = float(input("Importe de ventas realizadas: "))
if ventas < 0:
    print("Datos erróneos")
elif ventas <= 1000:
    print("Categoría A")
elif ventas <= 2000:
    print("Categoría B")
elif ventas <= 5000:
    print("Categoría C")
else:
    print("Categoría D")

Importe de ventas realizadas: 80
Categoría A

In [13]:
#2.2 Estructuras repetitivas

In [14]:
#for

In [15]:
#Problema 01:
#Mostrar los elementos de una lista utilizando for

In [16]:
#Solución
aula = ["Inca","Barzola","Urbisagastegui","Caman"]

#Por cada alumno que está en la lista, imprimir alumno
for alumno in aula:
    print(alumno)

Inca
Barzola
Urbisagastegui
Caman

In [17]:
#Problema 02:
#Dada una cadena ingresada por teclado, mostrar cada caracter de la cadena utilizando for

In [19]:
#Solución
cadena = input("Ingrese cadena: ")
for caracter in cadena:
    print(caracter)

Ingrese cadena: Hola
H
o
l
a

In [20]:
#Para generar rangos de números utilizamos range()
range(5)
#[0,5>

range(0, 5)

In [21]:
#Problema 03
#Imprimir los números de 0 a 10, utilizando for:
for numero in range(11):
    print(numero)

0
1
2
3
4
5
6
7
8
9
10

In [1]:
#Problema 04
#Imprimir los números de 10 a 20, utilizando for:
for numero in range(10,22,2):
    print(numero)

10
12
14
16
18
20

In [2]:
#while