# Semana 03
Alexia Asunción Pomasonco

Temas:
    1. Números
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de datos por teclado
    5. Operadores

2. Variables

In [1]:
#Siempre deben iniciar con una letra o un guión abajo
# (Nunca con un número u otro símbolo)

In [2]:
edad = 20

In [3]:
edad

20

In [6]:
nombre = "Alexia"

In [7]:
nombre

'Alexia'

In [8]:
apellido = "Asunción Pomasonco"

In [9]:
apellido

'Asunción Pomasonco'

In [12]:
nombrecompleto = nombre + " " + apellido

In [13]:
nombrecompleto

'Alexia Asunción Pomasonco'

In [14]:
#Para saber el tipo de variable utilizamos la función type()
#Por ejemplo:

In [15]:
numero = 50
type(numero)

int

In [16]:
type(nombre)

str

In [17]:
talla = 1.60
talla

1.6

In [18]:
type(talla)

float

In [19]:
#Para convertir un número en cadena utilizamos str()
numero = 100
cadena = str(numero)
cadena

'100'

In [23]:
type(cadena)

str

In [21]:
#Para convertir una cadena en un entero utilizamos int()
cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [24]:
type(numero2)

int

In [22]:
#Para convertir una cadena a un decimal utilizamos float()
cadena3 = "50"
numero3 = float(cadena3)
numero3

50.0

In [25]:
type(numero3)

float